[submodule "spdlog"]
	path = RodskaEngine/vendor/spdlog
	url = git://github.com/gabime/spdlog.git
[submodule "RodskaEngine/vendor/GLFW"]
	path = RodskaEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "RodskaEngine/vendor/imgui"]
	path = RodskaEngine/vendor/imgui
	url = https://github.com/CrossforceStudios/imgui
[submodule "RodskaEngine/vendor/glm"]
	path = RodskaEngine/vendor/glm
	url = https://github.com/CrossforceStudios/glm
